@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1624777549250') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e718";
}

.icon-qq:before {
  content: "\e62e";
}

.icon-tuite:before {
  content: "\e627";
}

.icon-weixin1x:before {
  content: "\e62a";
}

